{{ define "title" }}EVE Online ZKill Activity{{ end -}}
{{ define "body" -}}
<table id="activeSystems" class="display dataTable" role="grid" cellspacing="0" width="100%">
    <caption>{{.Query}}<caption>
    <thead>
    <tr role="row">
        <th class="sorting">System</th>
        <th class="sorting">Region</th>
        <th class="sorting">Security</th>
        <th class="sorting">Kills</th>
        <th class="sorting">ISK</th>
        <th class="sorting">Region Kills</th>
        <th class="sorting">Region ISK</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>System</th>
        <th>Region</th>
        <th>Security</th>
        <th>Kills</th>
        <th>ISK</th>
        <th>Region Kills</th>
        <th>Region ISK</th>
    </tr>
    </tfoot>

    <tbody>
      {{range $i, $e := .SolarSystems}}
      <tr class="{{evenOdd $i}}" role="row">
        <td><a href="{{dirPath "api"}}solarSystemID/{{.SolarSystemID}}/">{{.SolarSystemName}}</a></td>
        <td><a href="{{dirPath "api"}}regionID/{{.RegionID}}/">{{.RegionName}}</a></td>
        <td>{{.Security | printf "%0.1f"}}</td>
        <td>{{.Kills}}</td>
        <td>{{isk .TotalValue}}</td>
        <td>{{.RegionKills}}</td>
        <td>{{isk .RegionTotalValue}}</td>
      </tr>
      {{end}}
    </tbody>
</table>
{{ end -}}
{{ define "script" -}}
$(document).ready(function () {
    $('#activeSystems').dataTable({paging: false,  order: [[3, "desc"]] });
});
{{ end -}}
