<!doctype html>
<html>
<head>
    <title>Eve Online ZKill Activity</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/datatables.net-dt/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/pure/pure-min.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/datatables.net/js/jquery.dataTables.min.js"></script>
    <!-- endinject -->
    <script src="/static/bundle.js"></script>
</head>

<body style="padding: 24px;">
  <div class="pure-g">
    <h1 class="pure-u-1-2">EVE Online ZKill Activity</h1>
    <h3 class="pure-u-1-2" style="text-align: right;">Time: {{.Time}}</h3>
  </div>

<table id="activeSystems" class="display dataTable" role="grid" cellspacing="0" width="100%">
    <thead>
    <tr role="row">
        <th class="sorting">System</th>
        <th class="sorting">Region</th>
        <th class="sorting">Security</th>
        <th class="sorting">Kills</th>
        <th class="sorting">ISK</th>
        <th class="sorting">Region Kills</th>
        <th class="sorting">Region ISK</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>System</th>
        <th>Region</th>
        <th>Security</th>
        <th>Kills</th>
        <th>ISK</th>
        <th>Region Kills</th>
        <th>Region ISK</th>
    </tr>
    </tfoot>

    <tbody>
      {{range $i, $e := .SolarSystems}}
      <tr class="{{evenOdd $i}}" role="row">
        <td>{{.SolarSystemName}}</td>
        <td>{{.RegionName}}</td>
        <td>{{.Security | printf "%0.1f"}}</td>
        <td>{{.Kills}}</td>
        <td>{{isk .TotalValue}}</td>
        <td>{{.RegionKills}}</td>
        <td>{{isk .RegionTotalValue}}</td>
      </tr>
      {{end}}
    </tbody>
</table>

</body>
</html>
