<!doctype html>
<html>
<head>
    <title>Eve Online - Kill</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/datatables.net-dt/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/pure/pure-min.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/datatables.net/js/jquery.dataTables.min.js"></script>
    <!-- endinject -->

    <link rel="stylesheet" href="/static/detail.css">
</head>

<body style="padding: 24px;">
  <div class="pure-g">
    <h1 class="pure-u-1-2">EVE Online - Kill {{.KillID}}</h1>
  </div>



  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">KillID:</div>
        <div class="detail-value pure-u-1">{{.KillID}}</div>
      </div>
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">Time:</div>
        <div class="detail-value pure-u-1">{{.KillTime}}</div>
      </div>
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">System:</div>
        <div class="detail-value pure-u-1"><a href="/api/solarSystemID/{{.SolarSystemID}}/"
          >{{.SolarSystemName}}</a></div>
      </div>
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">Region:</div>
        <div class="detail-value pure-u-1"><a href="/api/regionID/{{.RegionID}}/">
          {{.RegionName}}</a></div>
      </div>
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">ISK:</div>
        <div class="detail-value pure-u-1">{{isk .ZKB.TotalValue}}</div>
      </div>

      <div class="detail-header pure-g">
        <div class="detail-key pure-u"></div>
        <div class="detail-value pure-u-1"><h3>Victim</h3></div>
      </div>
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">Name:</div>
        <div class="detail-value pure-u-1"><a href="/api/characterID/{{.Victim.CharacterID}}/"
          >{{.Victim.CharacterName}}</a></div>
      </div>
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">Corporation:</div>
        <div class="detail-value pure-u-1"><a href="/api/corporationID/{{.Victim.CorporationID}}/"
          >{{.Victim.CorporationName}}</a></div>
      </div>
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">Alliance:</div>
        <div class="detail-value pure-u-1"><a href="/api/allianceID/{{.Victim.AllianceID}}/"
          >{{.Victim.AllianceName}}</a></div>
      </div>
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">Ship:</div>
        <div class="detail-value pure-u-1">{{.Victim.ShipTypeName}}</div>
      </div>
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">Damage Taken:</div>
        <div class="detail-value pure-u-1">{{.Victim.DamageTaken}}</div>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="detail-header detail-header-flush-top pure-g">
        <div class="detail-key pure-u"></div>
        <div class="detail-value pure-u-1"><h3>Attackers</h3></div>
      </div>
      {{ range .Attackers }}
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">Name:</div>
        <div class="detail-value pure-u-1"><a href="/api/characterID/{{.CharacterID}}/"
          >{{.CharacterName}}</a></div>
      </div>
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">Corporation:</div>
        <div class="detail-value pure-u-1"><a href="/api/corporationID/{{.CorporationID}}/"
          >{{.CorporationName}}</a></div>
      </div>
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">Alliance:</div>
        <div class="detail-value pure-u-1"><a href="/api/allianceID/{{.AllianceID}}/"
          >{{.AllianceName}}</a></div>
      </div>
      <div class="detail-panel pure-g">
        <div class="detail-key pure-u">Ship:</div>
        <div class="detail-value pure-u-1">{{.ShipTypeID}}</div>
      </div>
      <div class="detail-panel detail-panel-last pure-g">
        <div class="detail-key pure-u">Damage Done:</div>
        <div class="detail-value pure-u-1">{{.DamageDone}}</div>
      </div>
      {{ end }}
    </div>
  </div>


</body>
</html>
