{{ define "title" }}EVE Online Kills{{ end -}}
{{ define "body" -}}
<table id="killmails" class="display dataTable" role="grid" cellspacing="0" width="100%">
    <caption>{{.Query}}</caption>
    <thead>
    <tr role="row">
        <th class="sorting">Time</th>
        <th class="sorting">System</th>
        <th class="sorting">Region</th>
        <th class="sorting">Security</th>
        <th class="sorting">Victim</th>
        <th class="sorting">Ship</th>
        <th class="sorting">Attackers</th>
        <th class="sorting">ISK</th>
    </tr>
    </thead>

    <tbody>
      {{range $i, $e := .Killmails}}
      <tr class="{{evenOdd $i}}" role="row">
        <td><a href="{{dirPath "api"}}killID/{{.KillID}}/">{{.KillTime}}</a></td>
        <td>{{.SolarSystemName}}</td>
        <td>{{.RegionName}}</td>
        <td>{{.Security | printf "%0.1f"}}</td>
        <td>{{.VictimSummary}}</td>
        <td>{{.Victim.ShipTypeName}}</td>
        <td>{{.AttackerSummary}}</td>
        <td>{{isk .ZKB.TotalValue}}</td>
      </tr>
      {{end}}
    </tbody>
</table>
{{ end -}}
{{ define "script" -}}
$(document).ready(function () {
    $('#killmails').dataTable({paging: false,  order: [[0, "desc"]] });
});
{{ end -}}
