<!doctype html>
<html>
<head>
    <title>Eve Online - Kills</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/datatables.net-dt/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/pure/pure-min.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/datatables.net/js/jquery.dataTables.min.js"></script>
    <!-- endinject -->
</head>

<body style="padding: 24px;">
  <div class="pure-g">
    <h1 class="pure-u-1-2">EVE Online - Kills</h1>
    <h3 class="pure-u-1-2" style="text-align: right;">Time: {{.Time}}</h3>
  </div>

<table id="killmails" class="display dataTable" role="grid" cellspacing="0" width="100%">
    <thead>
    <tr role="row">
        <th class="sorting">Time</th>
        <th class="sorting">System</th>
        <th class="sorting">Region</th>
        <th class="sorting">Security</th>
        <th class="sorting">Victim</th>
        <th class="sorting">Ship</th>
        <th class="sorting">Attackers</th>
        <th class="sorting">ISK</th>
    </tr>
    </thead>

    <tbody>
      {{range $i, $e := .Killmails}}
      <tr class="{{evenOdd $i}}" role="row">
        <td><a href="/api/killID/{{.KillID}}/">{{.KillTime}}</a></td>
        <td>{{.SolarSystemName}}</td>
        <td>{{.RegionName}}</td>
        <td>{{.Security | printf "%0.1f"}}</td>
        <td>{{.VictimSummary}}</td>
        <td>{{.Victim.ShipTypeName}}</td>
        <td>{{.AttackerSummary}}</td>
        <td>{{isk .ZKB.TotalValue}}</td>
      </tr>
      {{end}}
    </tbody>
</table>
<script>
$(document).ready(function () {
    $('#killmails').dataTable({paging: false,  order: [[0, "desc"]] });
});
</script>

</body>
</html>
