* {
    box-sizing: border-box;
}

.detail-header {
    padding-left: 11em;
    margin: 2em 0 0.25em 0;
}

.detail-header-flush-top {
    margin-top: 0;
}

.detail-panel {
    padding-left: 11em;
    margin: 0.25em 0;
}

.detail-panel-last {
    margin-bottom: 2em;
}

.detail-key {
    margin-left: -10.5em;
    width: 10em;
    padding-right: 0.5em;
    text-align: right;
    vertical-align: baseline;
}

.detail-value {
    position: relative;
    vertical-align: baseline;
}

.item-fit {
  color: blue;
}

.item-dropped {
  color: green;
}

.item-destroyed {
  color: red;
}
